body {
    /* The image used */
    background-image: url(/img/Wallpaper\ abstract\,\ artwork\,\ dark\,\ colorful\,\ 4K\,\ Abstract\ 336191315.jpg);
    /* Set a specific height */
    height: 100%;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* .main {
    display: flex;
    flex-wrap: wrap;
} */

.card {
    margin: 0.5rem;
    width: 250px;
    display: inline-block;
    vertical-align: top;
}

.coin_img {
    height: 3rem;
    width: 3rem;
}

.switch {
    float: right;
}

.show {
    position: relative;
    right: 10px;
}

.collapsing {
    position: relative;
    right: 10px;
}